<h1>Index Pokemon</h1>
<% @pokemons.each do |pokemon| %>
  <%= link_to pokemon_path(pokemon) do %>
    <div class="pokemon_card">
      <%= pokemon.name %>
      <%= pokemon.element_type %>
      <%= cl_image_tag pokemon.photo.key %>
    </div>
  <% end %>
<% end %>
